// WordPress editor styles
$color-crazy-pink: #e04492;
$color-crazy-pink-dark: #650835;

.wp-block-tw2113-west-blockvina {
	border: solid $color-crazy-pink 3px;
	padding: 20px 20px 90px;

	background: $color-crazy-pink-dark url("../../assets/cxg.png") right 20px top 98% no-repeat;
	label.components-input-control__label {
		display: block;
		color: #fff;
	}
	img {
		width: 100%;
	}
	.aligncenter {
		text-align: center;
	}
}
